In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

Converion of the website into HTML

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
website_url = requests.get(url).text

In [3]:
soup = BeautifulSoup(website_url,'lxml')

1. Finding the table 
2. Using th to the Headings and td to find the rows
3. Appending them to lists head and i_f

In [4]:
t = soup.find('table',{'class':'wikitable'})
h=t.findAll('th')
head=[]
for t in h:
    hh=str(t)
    head.append(hh[4:-6])
t = soup.find('table',{'class':'wikitable'})
i=t.findAll('td')
items = list(i)
i_f=[]
for i in items:
    ii=str(i)
    i_f.append(ii[4:-6])

In [5]:
rows=np.array(i_f).reshape(int(len(i_f)/3),3)
df = pd.DataFrame(rows,index=None)
df.columns = head
df=df[df.Borough != 'Not assigned'].reset_index()
df['Neighborhood']=df['Neighborhood'].str.replace('/',',')
df=df[['Postal code','Borough',"Neighborhood"]]

In [6]:
df.shape

(103, 3)

In [7]:
d = pd.read_csv('https://cocl.us/Geospatial_data')

In [8]:
d.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
ll=d[d['Postal Code'].isin(list(df['Postal code']))].set_index('Postal Code')

In [10]:
df.sort_values('Postal code',inplace=True)

In [11]:
dd=df.set_index('Postal code')
dd.rename_axis('postal code',axis='index')
f = dd.join(ll)

In [12]:
f.head(10)

,Borough,Neighborhood,Latitude,Longitude
Postal code,,,,
M1B,Scarborough,"Malvern , Rouge",43.806686,-79.194353
M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.784535,-79.160497
M1E,Scarborough,"Guildwood , Morningside , West Hill",43.763573,-79.188711
M1G,Scarborough,Woburn,43.770992,-79.216917
M1H,Scarborough,Cedarbrae,43.773136,-79.239476
M1J,Scarborough,Scarborough Village,43.744734,-79.239476
M1K,Scarborough,"Kennedy Park , Ionview , East Birchmount Park",43.727929,-79.262029
M1L,Scarborough,"Golden Mile , Clairlea , Oakridge",43.711112,-79.284577
M1M,Scarborough,"Cliffside , Cliffcrest , Scarborough Village West",43.716316,-79.239476
M1N,Scarborough,"Birch Cliff , Cliffside West",43.692657,-79.264848